.skills {
    margin-top:-10rem;
}

.icon-skills {
    font-size: 3rem;
}

@media screen and (min-width: 769px) {
    .skill-column{
        border-right: 1px solid #7a7a7a7e;
        border-right-width: thin;
    }    
}