body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  scroll-behavior: smooth;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
      opacity: 0;
  }
}

.has-text-green{
  color: Green !important;
}

.has-border-green{
  border: 1px solid green;
  border-width: thin;
}    

